<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

    <body layout:fragment="body">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNT31I-b-Jdf8bjPM-mm-V1qCpb-oudRLvtw&s" style="max-height: 250px; object-fit: contain" class="card-img-top" alt="Imagen del usuario">
                        <div class="card-body">
                            <h3 th:text="|${Alumno.Nombre} ${Alumno.ApellidoPaterno}|"></h3>
                            <p class="card-text" th:text="${Alumno.UserName}"></p>
                            <p class="card-text">test@test.com</p>                            
                            <a class="btn btn-primary col-12" th:href="|@{/alumno/formEditable?IdAlumno=}${Alumno.IdAlumno}|">Editar Información</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title">Direcciones Asignadas</h5>


                            <a class="btn btn-secondary mt-2 col-12" th:href="|@{/alumno/formEditable?IdDireccion=}0&IdAlumno=${Alumno.IdAlumno}|">Agregar Dirección</a>

                            <br/><br/>

                            <table class="table table-responsive table-bordered  table-striped">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Dirección</th>
                                        <th class="col-3">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="direccion : ${Alumno.Direcciones}">
                                        <td th:text="|${direccion.Calle}, ${direccion.NumeroExterior}, ${direccion.NumeroInterior}|"></td>
                                        <td>
                                            <a class="btn btn-warning btn-sm" th:href="|@{/alumno/formEditable?IdDireccion=}${direccion.IdDireccion}&IdAlumno=${Alumno.IdAlumno}|">Editar</a>
                                            <a class="btn btn-danger btn-sm">Eliminar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
